{% extends 'base.html' %}
{% block title %}
	登录
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-3 col-md-4"> </div>
            <div class="col-xs-6 col-md-4">
            <form class="form-signin" method="post" action="/login/">
                {% csrf_token %}
                <h2 class=form-signin-heading>登录</h2>
                <label>username</label>
                <input class="form-control" type="text" name="username" required autofocus />
                <label>Password</label>
                <input class="form-control" type="password" name="password" required/>
                <p></p>
                <button class="btn btn-lg btn-primary btn-block" type="submit">确认</button>
            </form>
            </div>
            <div class="col-xs-3 col-md-4"> </div>
        </div>
    </div>
{% endblock %}